<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="assets/style.css">
    <title>About</title>
</head>
<body>
    <%- include('../components/navbar') %>
    <h1>About</h1>
    <footer>
        <p>&copy: 2022 okdi host</p>
    </footer>
</body>
</html>