<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
    <link rel="stylesheet" href="assets/style.css">
</head>
<body>
    <%- include('../components/navbar') %>
    <h1>Sekarang Tanggal <%= kelas.date%></h1>
    <footer>
        <p>&copy: 2022 okdi host</p>
    </footer>
</body>
</html>